.userContainer {


    &__header {
        text-align: center;
        font: normal normal bold 15px/24px Inter;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        margin-top: 120px;
    }

    &__subHeader {
        text-align: center;
        font: normal normal bold 48px/59px Inter;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    &__input {
        width: 500px;
        background-color: transparent;
        border-top: transparent;
        border-right: transparent;
        border-left: transparent;
        outline: transparent;
        height: 30px;
        color: #fff;

        &::placeholder {
            text-align: left;
            font: normal normal normal 24px/29px Inter;
            letter-spacing: 0px;
            color: #808080;
            opacity: 1;
        }

        &::-moz-placeholder {
            text-align: left;
            font: normal normal normal 24px/29px Inter;
            letter-spacing: 0px;
            color: #808080;
            opacity: 1;
        }
    }


    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
        align-items: center;
        margin-top: 100px;
    }

    &__error {
        display: flex;
        justify-content: center;
        color: red;
    }
}

@import url('../../assets/fonts.scss');