.appButton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    text-align: left;
    font: normal normal bold 20px/32px Inter;
    letter-spacing: 0.4px;
    opacity: 1;



    &__text {
        display: flex;
        text-align: center;
        color: #000000;
        text-align: center;
        align-self: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.appButton:hover {
    cursor: pointer;
}

.backButton {
    text-align: left;
    font: normal normal bold 15px/30px Inter;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    background-color: transparent;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 20px;
    border-color: transparent;
    display: flex;
    gap: 10px;
}

.backButton:hover {
    cursor: pointer;
}

@import url('../../assets/fonts.scss');