body {
  background: #0d0d0d 0% 0% no-repeat padding-box;
  opacity: 1;
  color: white;
  //display: flex;
  justify-content: center;
  margin-top: 3vh;
  height: 92vh;
  background: #0d0d0d 0% 0% no-repeat padding-box;
  border: 1px solid #6a6a6a;
  border-radius: 10px;
  opacity: 1;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
}

body .user {
  position: absolute;
  margin-left: 75%;
  margin-top: 20px;
  text-align: center;
  font: normal normal bold 16px/20px Inter;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;

 


  @media (min-width:200px) {
    .user {
      &__footer {
        margin-left: -100px;
      }
    }
  }
}